<mat-form-field>
  <mat-label> Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="digite a atividade" #input>
</mat-form-field>

<div>
  <span (click)="filter('all')" class="span-all-total">{{oldTable.length}}</span>
  <span>Total</span>
</div>

<div>
  <span (click)="filter('Andamento')" class="span-all-Prog">{{allProg}}</span>
  <span>Em Andamento</span>
</div>

<div>
  <span (click)="filter('Atraso')" class="span-all-Atr">{{allAtr}}</span>
  <span>Atrasado</span>
</div>

<div>
  <span (click)="filter('Prevista')" class="span-all-Prev">{{allPrev}}</span>
  <span>Prevista</span>
</div>

<div>
  <span (click)="filter('Concluida')" class="span-all-Conc">{{allConc}}</span>
  <span>Concluidas</span>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element" class="bgc-{{element.status}}">
      <i class="material-icons">
        {{element.icon}}
      </i>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element" class="bgc-{{element.status}}"> {{element.desc}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
