<div class="container row col-md-12">
  <div class="col-md-6">
    <div class="row">
      <app-about-user style="width: 100%;"></app-about-user>
    </div>
    <div class="row">
      <app-credit style="width: 50%;"></app-credit>
      <app-oportunits style="width: 50%;"></app-oportunits>
      <app-graph style="width: 50%;"> </app-graph>
      <app-title-financial style="width: 50%;"></app-title-financial>
    </div>
  </div>
  <div class="col-md-6">
    <app-table-actions style="width: 100%;"></app-table-actions>
  </div>
</div>
