<div class="row">
  <div class="col-sm-12">
    <div class="card card-r">
      <div class="card-body">
        <h5 class="card-title">Limite de Crédito</h5>
        <div>
          <span class="bolder conc">R$ {{credit.concedido.toLocaleString('br')}}</span>
          <small>Concedido</small>

        </div>
        <div>
            <span class="bolder disp">R$ {{credit.disponivel.toLocaleString('br')}}</span>
            <small>Dísponível</small>
        </div>
      </div>
    </div>
  </div>
</div>
