<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Oportunidades ({{oportunits.length}})</h5>
        <div class="div-section">
          <div class="span-number">{{won.length}}</div>
          <div class="div-info">
            <span>Ganha</span><br>
            <span>R$ {{buildTotalWon()}}</span>
          </div>
        </div>

        <div class="div-section">
          <div class="span-number">{{loose.length}}</div>
          <div class="div-info">
            <span>Perdida</span><br>
            <span>R$ {{buildTotalLoose()}}</span>
          </div>
        </div>

        <div class="div-section">
          <div class="span-number">{{open.length}}</div>
          <div class="div-info">
            <span>Abertas</span><br>
            <span>R$ {{buildTotalOpen()}}</span>
          </div>
        </div>

        <div class="div-section">
          <div class="span-number">{{desc.length}}</div>
          <div class="div-info">
            <span>Outras</span><br>
            <span>R$ {{buildTotalDesc()}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
