<div class="row">
  <div class="col-sm-12">
    <div class="card card-r">
      <div class="card-body">
        <h5 class="card-title">Oportunidades ({{oportunits.length}})</h5>
        <div class="div-section">
          <div class="div-number-Ganha">{{won.length}}</div>
          <div class="div-info">
            <span class="bolder">Ganha</span><br>
            <span>R$ {{buildTotalWon()}}</span>
          </div>
        </div>

        <div class="div-section">
          <div class="div-number-Perdida">{{loose.length}}</div>
          <div class="div-info">
            <span class="bolder">Perdida</span><br>
            <span>R$ {{buildTotalLoose()}}</span>
          </div>
        </div>

        <div class="div-section">
          <div class="div-number-aberta">{{open.length}}</div>
          <div class="div-info">
            <span class="bolder">Abertas</span><br>
            <span>R$ {{buildTotalOpen()}}</span>
          </div>
        </div>

        <div class="div-section">
          <div class="div-number-outras">{{desc.length}}</div>
          <div class="div-info">
            <span class="bolder">Outras</span><br>
            <span>R$ {{buildTotalDesc()}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
