.span-number {
    background: red;
    padding: 0.8rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    width: 10%;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
}

.div-section {
    width: 50%;
    display: inline-block;
}

.div-info {
    display: inline-block;
    vertical-align: middle;
}