<div class="row" *ngIf='user'>
  <div class="col-sm-12">
    <div class="card card-h">
      <div class="card-body">
        <h5 class="card-title">Informações Gerais</h5>
        <div class="row col-sm-12 col-md-12">
          <div class="col-2">
            <img src="./../../../assets/man-300x300.png" alt="">
          </div>
          <div class="col-5">
            <span class="card-text">{{user.name}}</span>
            <span class="card-text">{{user.amcIcon}}</span>
            <span class="card-text status-{{user.active}}">{{user.active ? 'Ativo' : 'False'}}</span>
          </div>
          <div class="col-5">
            <span class="card-text">
              <i class="material-icons">
                phone_callback
              </i>{{user.phone}}
            </span>

            <span class="card-text">
              <i class="material-icons">
                email
              </i>{{user.email}}
            </span>

            <span class="card-text">
              <a href={{user.face}} target="_blank"><i class="material-icons">
                facebook
              </i></a>
            </span>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
